			<div class="recipeDetail">
				<h1>Kurczak w chrupiącej panierce z płatków kukurydzianych</h1>
				<img src="http://img.smaczny.pl/p/m/1024_768_2/p/z/11/kurczak_w_chrupiacej_panierce_z_platkow_kukurydzianych1.JPG" alt"kotlet">
				<div class="elements">
					<div class="table">
						<i class="fa fa-clock-o">: Szybko</i>
						<i class="fa fa-shopping-cart">: Tanio</i>
						<i class="fa fa-users">: 2-4</i>
					</div>
					<h3>Składniki:</h3>
					<ul>
						<li>80 dag filetu z kurczaka (1 duży lub 2 małe) </li>
						<li>2 jajka </li>
						<li>imbir w proszku </li>
						<li>słodka papryka w proszku </li>
						<li>ostra papryka w proszku </li>
						<li>zioła Małgorzatki </li>
						<li>sól</li>
						<li>pieprz</li>
						<li>olej</li>
					</ul>
				</div>
				<div class="breakLine"></div>
				<h3>Sposób wykonania:</h3>
				<p id="making">
					Filet z kurczaka opłukać, oczyścić z kości, błonek, a następnie pokroić w plastry i rozbić z dwóch stron.

					Jajka wbić do talerza. Dodać szczyptę imbiru, słodkiej i ostrej papryki w proszku, ziół Małgorzatki, soli i pieprzu. Całość razem wymieszać widelcem.

					Płatki kukurydziane przesypać do miski, dodać kurkumę, a następnie wymieszać i rozgnieść.

					Każdy kawałek kurczaka maczać w jajku, a następnie w płatkach kukurydzianych, obracać dociskając kilka razy, aby panierka ładnie się trzymała.

					Na rozgrzany tłuszcz kłaść kotlety z kurczaka i smażyć z dwóch stron na złoty kolor. Podawać z ziemniakami i czerwonymi buraczkami.

					Z podanych składników wyjdzie około 12 kotletów (zależności od wielkości).

					Smacznego.
				</p>
			</div>