			<div class="recipes">
				<h1>Nasze przepisy:</h1>
				<div class="recipe" onmouseover="show('id0')" onmouseout="hide('id0')">
					<img src="http://img.smaczny.pl/p/m/1024_768_2/p/z/11/kurczak_w_chrupiacej_panierce_z_platkow_kukurydzianych1.JPG" alt="kotlet"></img>
					<div class="recipeName"><span>Kurczak w chrupiącej panierce z płatków kukurydzianych</span></div>
					<div class="recipeShort id0">
						<i class="fa fa-clock-o">: Szybko</i>
						<i class="fa fa-shopping-cart">: Tanio</i>
						<i class="fa fa-users">: 2-4</i>
					</div>
				</div>
				<div class="recipe" onmouseover="show('id1')" onmouseout="hide('id1')">
					<img src="http://img.smaczny.pl/p/m/1024_768_2/p/z/11/kurczak_w_chrupiacej_panierce_z_platkow_kukurydzianych1.JPG" alt="kotlet"></img>
					<div class="recipeName"><span>Kurczak w chrupiącej panierce z płatków kukurydzianych</span></div>
					<div class="recipeShort id1">
						<i class="fa fa-clock-o">: Szybko</i>
						<i class="fa fa-shopping-cart">: Tanio</i>
						<i class="fa fa-users">: 2-4</i>
					</div>
				</div>
				<div class="recipe" onmouseover="show('id2')" onmouseout="hide('id2')">
					<img src="http://img.smaczny.pl/p/m/1024_768_2/p/z/11/kurczak_w_chrupiacej_panierce_z_platkow_kukurydzianych1.JPG" alt="kotlet"></img>
					<div class="recipeName"><span>Kurczak w chrupiącej panierce z płatków kukurydzianych</span></div>
					<div class="recipeShort id2">
						<i class="fa fa-clock-o">: Szybko</i>
						<i class="fa fa-shopping-cart">: Tanio</i>
						<i class="fa fa-users">: 2-4</i>
					</div>
				</div>
				<div class="recipe" onmouseover="show('id3')" onmouseout="hide('id3')">
					<img src="http://img.smaczny.pl/p/m/1024_768_2/p/z/11/kurczak_w_chrupiacej_panierce_z_platkow_kukurydzianych1.JPG" alt="kotlet"></img>
					<div class="recipeName"><span>Kurczak w chrupiącej panierce z płatków kukurydzianych</span></div>
					<div class="recipeShort id3">
						<i class="fa fa-clock-o">: Szybko</i>
						<i class="fa fa-shopping-cart">: Tanio</i>
						<i class="fa fa-users">: 2-4</i>
					</div>
				</div>
			</div>